<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot Javascript </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/button.css" />
    <link rel="stylesheet" href="/css/style2.css" />
    <script src="https://kit.fontawesome.com/4ba66cb529.js" crossorigin="anonymous"></script>
</head>

<!-- background="https://thumbs.dreamstime.com/z/chatbot-ai-artificial-intelligence-robotic-concept-cute-vintage-look-plastic-robot-vivid-yellow-background-139130636.jpg"> -->
<!-- https://chatbot-blog.labs.livechat.com/app/uploads/2020/09/cover-7-bot-mistakes.png -->
<body>

<!-- background="https://ei.marketwatch.com/Multimedia/2019/06/18/Photos/ZH/MW-HL648_artifi_20190618145625_ZH.jpg?uuid=c58ac3ec-91fa-11e9-a0a7-9c8e992d421e"> -->