<%-include("partials/header.ejs")%>

<div class="body2">
	<div class="wrapper2">
        <form action="/openai/codecompletion" method="post">
            <input name="prompt" class="search" type="text" id="search" />
            <button class="submit" name="submit"><i class="fa fa-search"></i></button>
        </form>
	</div>
</div>




<div id="res">
    <pre>
        <%=response%>
    </pre>
</div>
    
        
    
<%-include("partials/footer.ejs")%>